{
	admin 127.0.0.1:2019
}

http://8.134.222.143 {
	handle /.well-known/acme-challenge/* {
		root * /var/www/certbot
		file_server
	}

	handle {
		redir https://8.134.222.143{uri} permanent
	}
}

https:// {
	tls /etc/letsencrypt/live/newrag-ip/fullchain.pem /etc/letsencrypt/live/newrag-ip/privkey.pem

	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	reverse_proxy frontend:8080

	log {
		output stdout
		format json
	}
}
